[submodule "src/vendor/http_common"]
	path = src/vendor/http_common
	url = https://github.com/Nuorah/http_common.git
[submodule "src/vendor/event_wal"]
	path = src/vendor/event_wal
	url = https://github.com/Nuorah/event_wal.git
